body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://s3.amazonaws.com/freeman-craft/locations/United-States/Nashville_Main.jpg");
}

#searchForm {
    margin: 5px;
}

input {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 100%;
    max-width: 300px;
    border-radius: 22px;
    font: 400 13.3333px Arial;
    text-indent: 5px;
    margin: 5px;
    height: 20px;
}

button {
    border-radius: 22px;
    margin: 5px;
}

section {
    display: flex;
    flex-direction: row;
}

.searchResult {
    background: rgba(255,255,255,0.8);
    border: 1px black solid;
    margin: 5px;
    padding:10px;
    border-radius: 22px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.itineraryForm {
    border: 5px solid white;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
	background: linear-gradient(45deg, red,yellow);
    background-size: 400% 400%;
    animation-duration: 3s;
    animation-name: color_change;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

 .itineraryFinal:hover {
    transform: scale(1.2);
}